body {
	margin: 0;
	font-family: Arial, sans-serif;
	background-color: white;
}

.topnav {
	display: flex;
	align-items: center;
	gap: 20px;
	padding: 10px 8%;
	background-color: white;
	
    position: sticky;
    top: 0;
}

.logo {
	display: block;
	width: 40px;
}

.search {
	width: 220px;
	padding: 10px;
	border: 0;
	border-radius: 4px;
	background-color: #eef3f8;
	font-size: 14px;
}

.nav1 {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex: 1;
	gap: 15px;
}

.nav1 a {
	display: flex;
	align-items: center;
	gap: 0px;
	padding: 12px 0;
	color: #666666;
	text-decoration: none;
	font-size: 14px;
	white-space: nowrap;
}

.nav-icon {
	width: 20px;
	height: 20px;
}

.nav1 a:hover,
.nav1 a.active {
	color: #191919;
}

.nav1 a.active {
    flex-direction: column;
}

.nav-icon {
    width: 20px;
    height: 20px;
    flex-direction: column;
}

.active-vl{
  border-left: 1px solid rgb(139, 140, 139);
  height: 40px;
  position: fixed;
  right: 300px;
  margin-left: -3px;
  top: 0;
  padding: 10px 8%;
}